<div>
  <h1 [textContent]="welcomeMessage"></h1>
  <h5 bind-textContent="welcomeMessage"></h5>
  <form #demoForm="ngForm" novalidate>
  <p><input type="text" value="{{welcomeMessage}}" #welcomeMessage ngModel /></p>
  <p><input type="text" [value]="inputMessage" (blur)="showMessageOnKeyPress($event)" #inputMessage ngModel/></p>
  <p><input type="text" [value]="inputMessage" on-blur="showMessageOnKeyPress($event)" #inputMessage2 ngModel/></p>
  <p [textContent]="textSaisi"></p>
  <p><input type="text" [(ngModel)]="textSaisi" size="50" #textSaisi ngModel/></p>
  <button type="button" (click)="showMessage('Pourquoi tu cliques sur moi ?')">Click</button>
</form>
</div>
<div>
  <table border="1">
   <tr>
    <th>Pays</th>
    <th>Capitale</th>
    <th>Note</th>
   </tr>
   <tr>
    <td [attr.colspan]="colSpanValue">Congo Beazzaville 3</td>
  </tr>
   <tr>
    <td>Gabon</td><td>Libreville</td><td>5</td>
  </tr>
   <tr>
    <td>Cameroun</td><td>Douala</td><td>2</td>
  </tr>
  </table>
</div>
<p></p>
<div>
  <button type="button" (click)="afficherDOM()">{{textBouton}}</button>
  <div *ngIf="estPresent">
    <h1>Affiche ce texte</h1>
  </div>
</div>
<div>
  <ul>
    <li *ngFor="let pays of listeDePays">
      {{pays}}
    </li>
  </ul>
</div>

